.Component5 {
	padding-top: 7.5rem;
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.card {
			background: rgb(34, 53, 111);
			display: flex;
			padding-top: 7rem;
			width: 22.5rem;
			height: 22.5rem;
			color: rgb(255, 255, 255);
			font-family: Larsseit;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: -0.6%;
			text-align: left;
			p {
			}
			.borderRad {
				margin-left: 50px;

				background-color: rgb(233, 183, 48);
				border-radius: 1rem;
				margin-top: 15px;
				margin-right: 12px;
				width: 9px;
				height: 9px;
			}
		}
		.card2 {
			background: rgb(0, 82, 193);
			display: flex;
			padding-top: 7rem;
			width: 22.5rem;
			height: 22.5rem;
			color: rgb(255, 255, 255);
			font-family: Larsseit;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: -0.6%;
			text-align: left;
			.borderRad {
				margin-left: 50px;

				background-color: rgb(233, 183, 48);
				border-radius: 1rem;
				margin-top: 15px;
				margin-right: 12px;
				width: 9px;
				height: 9px;
			}
		}
		.card3 {
			width: 22.5rem;
			height: 22.5rem;
			display: flex;
			justify-content: center;
			padding-top: 7rem;
			background-color: rgb(98, 208, 223);
			font-family: Larsseit;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: -0.6%;
			text-align: left;
			.borderRad {
				background-color: rgb(233, 183, 48);
				border-radius: 1rem;
				margin-top: 15px;
				margin-right: 12px;
				width: 9px;
				height: 9px;
			}
		}
		.card4 {
			background: rgb(98, 208, 223);
			width: 22.5rem;
			height: 22.5rem;
			display: flex;
			justify-content: center;
			padding-top: 7rem;
			font-family: Larsseit;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: -0.6%;
			text-align: left;
			.borderRad {
				background-color: rgb(233, 183, 48);
				border-radius: 1rem;
				margin-top: 15px;
				margin-right: 12px;
				width: 9px;
				height: 9px;
			}
		}
		.card5 {
			background: rgb(222, 225, 255);
			width: 22.5rem;
			height: 22.5rem;
			display: flex;
			justify-content: center;
			padding-top: 7rem;
			font-family: Larsseit;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: -0.6%;
			text-align: left;
			.borderRad {
				background-color: rgb(233, 183, 48);
				border-radius: 1rem;
				margin-top: 15px;
				margin-right: 12px;
				width: 9px;
				height: 9px;
			}
		}
		.card6 {
			background: rgb(143, 0, 255);
			width: 22.5rem;
			height: 22.5rem;
			display: flex;
			justify-content: center;
			padding-top: 7rem;
			font-family: Larsseit;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: -0.6%;
			text-align: left;
			.borderRad {
				background-color: rgb(233, 183, 48);
				border-radius: 1rem;
				margin-top: 15px;
				margin-right: 12px;
				width: 9px;
				height: 9px;
			}
		}
	}
}
