.Header {
	background: rgb(244, 249, 226);
	padding: 20px;
	.content {
		display: flex;
		justify-content: space-between;
		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			.nav {
				ul {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 40px;
					li {
					}
				}
			}
			.classP {
				font-size: 24px;
				color: #62d0df;
				width: 484px;
				height: 27px;
			}
		}
		.buttonClass {
			z-index: 9999999;
		}
	}
}
